<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.dynasty.zt.portal.provider.mapper.HelloMapper" >


    <select id="sayHello" resultType="Hello" parameterType="Hello" >
        select
          nick_name as msg
        from
          sys_user
        where
          user_uuid = #{msg}
    </select>

	
</mapper>